[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-pubsub = "*"
dataclasses-json = "*"
SQLAlchemy = "*"
psycopg2-binary = "*"
luhn = "*"

[requires]
python_version = "3.11"